.side-button-container {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  bottom: 150px;
  right: 500px;
  width: 50px;
  height: 130px;
  background: #ffffff;
  border: 1px solid rgba(164, 164, 164, 0.3);
  box-shadow: 5px 5px 20px rgba(133, 133, 133, 0.2);
  border-radius: 30px;
}

.side-button {
  width: 50px;
  height: 50px;

  transform: matrix(-1, 0, 0, 1, 0, 0);

  display: flex;
  justify-content: center;
  align-items: center;
}

.side-icon-post-button {
  width: 35px;
  height: 35px;

  cursor: pointer;
}

.side-icon-post-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
