.enable-btn {
  cursor: pointer;
  background-color: rgba(10, 160, 255, 0.7);
  border: none;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.7);
  padding: 5px 30px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}

.disable-btn {
  background-color: #dddddd; /* Light gray */
  color: #666666; /* Dark gray */
  cursor: not-allowed;
}
