.enable-btn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.disable-btn{
    background-color: #dddddd; /* Light gray */
    color: #666666; /* Dark gray */
    cursor: not-allowed;
}