.inputbox {
  display: flex;
  flex-direction: column;

  width: 350px;
  min-height: 40px;
}

.inputbox-container {
  padding: 15px;

  display: flex;
  align-items: center;

  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

.inputbox-container-error {
  border-bottom: 1px solid rgba(255, 0, 0, 0.7);
  padding: 15px 30px 15px 15px;

  background-color: rgba(255, 250, 250, 1);

  display: flex;
  align-items: center;
}

.input {
  border: none;
  background: none;
  outline: none;

  flex: 1;

  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  text-indent: 5px;
}

.inputbox-message {
  color: rgba(255, 0, 0, 0.7);
  min-height: 20px;

  font-size: 12px;
  font-weight: 500;
  line-height: 140%;

  padding: 5px;
}

.input-box-inner-btn {
  margin: 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(10, 160, 255, 0.7);
  color: rgba(255, 255, 255, 0.9);
}

.input-box-inner-btn:hover {
  background-color: rgba(10, 160, 255, 0.9);
}

.input-box-inner-btn:active {
  box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}
