.inputbox {
  display: flex;
  flex-direction: column;

  width: 300px;
}

.inputbox-container {
  padding: 15px 30px 15px 15px;

  display: flex;
  align-items: cetner;

  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 10px;
}

.inputbox-container-error {
  border-bottom: 1px solid rgba(255, 0, 0, 0.7);
  padding: 11px 16px 11px 0px;

  background-color: rgba(255, 250, 250, 1);

  display: flex;
  align-items: center;
}

.input {
  border: none;
  background: none;
  outline: none;

  flex: 1;

  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  text-indent: 5px;
}

.input-box-message {
  color: rgba(255, 0, 0, 0.7);

  font-size: 10px;
  font-weight: 400;
  line-height: 140%;
}
