#header {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.header-container {
  width: 1200px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wesell-icon {
  width: 70px;
  height: 70px;
}

.header-left-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
