server:
  port : 8083

redis:
  host: localhost
  port: 6379

spring:
  application:
    name : board-service
  cache:
    type: redis
  datasource:
    url: ${url}
    driver-class-name: ${driver-class-name}
    username: ${username_}
    password: ${password}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        check_nullability: true
        show_sql: true

  profiles:
    active: db
