server:
  port: 8000

spring:
  profiles:
    active: jwt,db
  application:
    name: apigateway-server
  cloud:
    gateway:
      default-filters:
        - name: GlobalFilter
          args:
            message: Spring Cloud Gateway GlobalFilter Message
            showPreLogger: true
            showPostLogger: true

      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/user-service/**
          filters:
            - RewritePath=/user-service/(?<path>.*),/$\{path}

        - id: admin-service
          uri: lb://ADMIN-SERVICE
          predicates:
            - Path=/admin-service/**
          filters:
            - RewritePath=/admin-service/(?<path>.*),/$\{path}

        - id: deal-service
          uri: lb://DEAL-SERVICE
          predicates:
            - Path=/deal-service/**
          filters:
            - RewritePath=/deal-service/(?<path>.*),/$\{path}

        - id: authentication-server
          uri: lb://AUTHENTICATION-SERVER
          predicates:
            - Path=/auth-server/**
          filters:
            - RewritePath=/auth-server/(?<path>.*),/$\{path}
            -
        - id: pay-service
          uri: lb://PAY-SERVICE
          predicates:
            - Path=/pay-service/**
          filters:
            - RewritePath=/pay-service/(?<path>.*),/$\{path}

eureka:
  instance:
    instance-id: ${spring.cloud.client.hostname}:${spring.application.instance_id:${random.value}}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

token:
  secret-key: ${secret-key}
  issuer: ${issuer}