.mypage-wrapper {
  padding: 50px 0px;
  min-width: 1440px;

  height: calc(100vh);
  min-height: 960px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mypage-container {
  width: 1200px;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(255, 255, 255);
}

/* 회원 정보 card -S */
.userInfo-card {
  display: flex;
  flex-direction: column;
}

.userInfo-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-input-box {
  margin-right: 80px;
}

.card-btn-box {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  padding: 10px;
}
/* 회원 정보 card -E */

/* 판매 내역 card -S */
.dealInfo-card {
  display: flex;
  flex-direction: column;
}

.dealInfo-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list-box {
  margin-right: 80px;
}
/* 판매 내역 card -E */
