server:
  port: 8088

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/playdata-final-project-team/Config.git
          username: ENC(cW5SlvBaWmiP1+VKyAf+cTGIHqEjDF5WGvhV9opSnYE=)
          password: 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