@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1.5;
    transform: translateY(0);
  }
}

@media all and (min-width: 1024px) {
  .board-wrapper {
    width: 500px;
    .board-body {
      height: 400px;
    }
  }
}

@media all and (max-width: 1024px) {
  .board-wrapper {
    width: 450px;
    .board-body {
      height: 360px;
    }
  }
}
@media all and (max-width: 768px) {
  .board-wrapper {
    width: 400px;
    .board-body {
      height: 320px;
    }
  }
}

@media all and (max-width: 768px) {
  .board-wrapper {
    width: 360px;
    .board-body {
      height: 300px;
    }
  }
}

.board-wrapper {
  transition: width 1s;
  margin: 0 auto 1.5rem auto;
  opacity: 0;
  border-radius: 10px;
  animation: smoothAppear 1.5s forwards;
  animation-delay: 0.5s;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fff;
  padding: 4rem;

  .board-body {
    display: flex;
    width: 200%;
    .board-image {
      flex-shrink: 0;
      margin-right: 1rem;
      width: 50%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .board-content {
      word-break: break-all;
      margin-left: 1rem;
      overflow: auto;
      flex-grow: 1;
      &::-webkit-scrollbar {
        display: none;
      }
      
      .board-content {
        font-size: 1.2rem;
      }
    }
  }
}

.update-button {
  min-width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
  flex-direction: row;
  color: #e0e7e8;
  background-color: #00a8cc;
  border: 2px solid #00a8cc; 
  border-radius: 50px; 
  transform: scale(1.5);
}
