#auth-wrapper {
  min-width: 1440px;
  min-height: 550px;
  padding: 50px 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-contianer {
  width: 1000px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(255, 255, 255);
}

.auth-card-top {
  margin: 10px;
}

.auth-card-bottom {
  margin: 10px;
}

.auth-card-bottom-a {
  display: flex;
  justify-content: space-evenly;
}

.auth-card-find-info-box > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-weight: 550;
  cursor: pointer;
}

.auth-card-bottom-b {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.auth-card-btn {
  cursor: pointer;

  min-width: 100px;
  min-height: 30px;

  background-color: rgba(10, 160, 255, 0.7);
  border-radius: 10px;
  padding: 5px 30px;
  margin: 5px;

  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}

.auth-card-btn:hover {
  background-color: rgba(10, 160, 255, 0.9);
}

.auth-card-btn:active {
  box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.auth-card-btn-disabled {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5px 30px;
  margin: 5px;

  text-align: center;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}

.auth-card-social-in-btn {
  background-image: url(assets/social-login-on.png);

  cursor: pointer;
  border-radius: 10px;
  min-width: 120px;
  min-height: 40px;
  margin: 5px;
}

.auth-card-social-in-btn:hover {
  background-image: url(assets/social-login-off.png);
}

.auth-card-social-in-btn:active {
  box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.auth-desc-box {
  display: flex;
  justify-content: center;
}

.auth-desc {
  color: rgba(0, 0, 0, 0.7);

  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.auth-desc-link {
  color: rgba(0, 0, 0, 1);
  font-weight: 550;
  cursor: pointer;
}

.auth-sign-in-error-box {
  min-height: 38px;
  color: rgba(255, 0, 0, 0.8);
  font-size: 14px;
}

.auth-sign-in-blank-box {
  min-height: 38px;
  background-color: rgba(255, 255, 255, 0);
}

/* sign-up-card : 닉네임 & 번호 인증 */
.auth-sign-up-valid-box {
  min-height: 40px;
  display: flex;
  align-items: center;
}
