
.container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* 두 개의 컬럼, 첫 번째 컬럼은 1배, 두 번째 컬럼은 2배 */
  gap: 20px; /* 각 섹션 간의 간격 */
}

.image-container {
  grid-column: 1 / 2; /* 이미지는 첫 번째 컬럼에 배치 */
}

.image {
  width: 100%; /* 이미지 100% 너비로 조절 */
  height: auto; /* 비율에 맞게 높이 조절 */
}

.details-container {
  grid-column: 2 / 3; /* 세부 정보는 두 번째 컬럼에 배치 */
  display: grid;
  grid-template-rows: auto repeat(4, 1fr) auto; /* 여섯 개의 행, 상하 여백은 자동으로 처리 */
}

h2 {
  margin: 0; /* 기본적인 제목의 margin 제거 */
}

.createdAt,
.nickname,
.detail,
.price {
  margin: 5px 0; /* 상하 여백 조절 */
}

.createdAt,
.nickname,
.price,
.detail,
a {
  font-size: 16px; /* 텍스트 사이즈 설정 */
}


.update-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 150px 400px; /* 여백 추가 */
  color: #e0e7e8;
  background-color: #00A8CC;
  border: 2px solid #00A8CC; /* 테두리 스타일 및 색상 */
  border-radius: 50px; /* 테두리의 모퉁이 */
  transform: scale(1.5);
}
